<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <a class="navbar-brand" href="#">Youcode</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li *ngIf="loggedIn" class="nav-item">
                <a class="nav-link" routerLink="/article">Home <span class="sr-only">(current)</span></a>
            </li>

            <li *ngIf="loggedIn" class="nav-item">
                <a class="nav-link" routerLink="/article/create">New article</a>
            </li>
        </ul>
        <ul  class="navbar-nav ml-auto">
            <li *ngIf="!loggedIn" class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
            <li *ngIf="!loggedIn" class="nav-item"><a routerLink="/register" class="nav-link">Register</a></li>
            <li *ngIf="loggedIn" class="nav-item"><button (click)="logout()" class="nav-link btn-logout">Logout</button></li>
        </ul>
       
    </div>
</nav>