<div class="row mt-4">
    <div class="col-md-6">
        <h1>New article</h1>
    </div>
    <div class="col-md-6 text-right">
        <a class="btn btn-link" routerLink="/article">
            <i class="fa fa-arrow-left"></i> Back to list
        </a>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8 mx-auto">

      <form [formGroup]="articleForm" (ngSubmit)="saveArticle()">
        <div class="form-group">
            <label for="title">Title</label>
            <input autocomplete="off" formControlName="title" placeholder="Your title" type="text" class="form-control" id="title">

            <div *ngIf="articleForm.get('title').invalid && articleForm.get('title').touched" class="alert alert-danger">
                <div *ngIf="articleForm.get('title').errors.required">
                  This field is required !
                </div>

                <div *ngIf="articleForm.get('title').errors.minlength">
                    This field sould be great than 3 caracters !
                </div>
            </div>

        </div>

        <div class="form-group">
            <label for="Content">Content</label>
            <textarea formControlName="content" placeholder="Your content" class="form-control" id="Content" rows="4"></textarea>
            <div *ngIf="articleForm.get('content').invalid && articleForm.get('content').touched" class="alert alert-danger">
                <div *ngIf="articleForm.get('content').errors.required">
                  This field is required !
                </div>

                <div *ngIf="articleForm.get('content').errors.minlength">
                    This field sould be great than 10 caracters !
                </div>
            </div>
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select formControlName="category_id" class="form-control" id="category">
            <option value="">Select One Category</option>
            <option [value]="category.id" *ngFor="let category of categories">{{ category.label }}</option>
          </select>
          <div *ngIf="articleForm.get('category_id').invalid && articleForm.get('category_id').touched" class="alert alert-danger">
            <div *ngIf="articleForm.get('category_id').errors.required">
              This field is required !
            </div>
        </div>
        </div>
       

        <button [disabled]="articleForm.invalid || loading" class="btn btn-primary btn-block">
            
            <span *ngIf="!loading">
                <i class="fa fa-send"></i>Add new article
            </span> 

            <span  *ngIf="loading">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Loading...
            </span>
        </button>
      </form>
    </div>
</div>